# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
av==12.0.0
boto3
python-dotenv
PyAV
huggingface-hub==0.25.1
diffusers==0.27.0
imageio[ffmpeg]
boto3